@media (max-width: 768px){
    .input-item{
        font-size: 30px;
        width: 40%;
        height: 30%;
    }

    .input-text{
        width: 52.5%;
        height: 30%;
    }

    .contact-text{
        font-size: xx-small;
    }
}